  @media (max-width: 1000px) {
    body {
      font-size: 50px;
      padding: 10px;
      align-items: center;
      background-image: url('../imagenes/fondogremio.jpg');
    }

    .box {
      padding: 1px;
      display: flex;
      background-image: url(https://p4.wallpaperbetter.com/wallpaper/439/553/103/minimalist-minimal-art-fox-night-wallpaper-preview.jpg);
    }
    .menucab{
        visibility: hidden;
    }
    
  }